<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit a Product</title>
</head>

<body>
    <h1>Edit a Product</h1>
    <form method="post" action="/products/<%=products.id%>?_method=PUT">
        <label for=" product-name ">Enter Product Name</label>
        <input type="text " name="name" id="product-name" value="<%=products.name%>" />
        <br />
        <label for="product-price ">Enter Product price</label>
        <input type="number " name="price" id="product-price " value="<%=products.price%>" />
        <br />
        <label for="product-category ">Enter Product category</label>
        <select name="category" id="product-category ">
        <%for(let category of categories){%>
        <option value="<%=category%>" <%= products.category ===  category ? 'selected':''%> ><%=category%></option>
        <%}%>
      </select>
        <br />
        <button>Submit</button>
    </form>
</body>

</html>